@model List<Course>
@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center ">Course data</h1>

<table class="table table-hover table-bordered">
    <tr>
=        <th>Name</th>
        <th>Degree</th>
        <th>Min Degree</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Degree</td>
            <td>@item.minDegree</td>

            <td>
                <a class="btn btn-primary" href="/Course/Details/@item.Id">View</a>
                <a class="btn btn-primary" href="/Course/Edit/@item.Id">edit</a>
              @* <a class="btn btn-primary" href="/Course/Delete/@item.Id">delete
                   
               </a>*@
             @Html.ActionLink("Delete", "Delete", new { id = item.Id },
            new { onclick = "return confirm('Are sure wants to delete?');" })

            </td>
        </tr>

    }

</table>
<a href="\Course\Index" class="btn btn-success">Add</a>



